[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-extensions = "*"
python-dotenv = "*"
requests = "*"
cryptography = "*"
pymysql = "*"
pyopenssl = "*"
werkzeug = "*"

[dev-packages]

[requires]
python_version = "3.9"
