[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymysql = "*"
djangorestframework = "*"
cryptography = "*"
requests = "*"
python-dotenv = "*"
django = "*"
django-extensions = "*"
mock = "*"

[dev-packages]

[requires]
python_version = "3.9"
